@model IEnumerable<WebMVC.Models.Category>

@{
    ViewBag.Title = "Category Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Category Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Category_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Category_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Category_Id })
        </td>
    </tr>
}

</table>
