@model IEnumerable<WebMVC.Models.Staff>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var dropdownOptions = new List<SelectListItem>
{
        new SelectListItem { Value = "1", Text = "GetManagerDetails" },
        new SelectListItem { Value = "2", Text = "SalesMadeByStaff" },
        new SelectListItem { Value = "3", Text = "GetStaffByStoreName" }
    };
}

<h2>Staffs</h2>

@using (Html.BeginForm("Index", "StaffMVC", FormMethod.Get))
{
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-end">
                    <!-- Filter Dropdown -->
                    <div class="me-2">
                        @Html.DropDownList("filterOption", dropdownOptions, "Filter By", new { @class = "form-select" })
                    </div>

                    <!-- Search Input -->
                    <div class="me-2 flex-grow-1">
                        <input type="text" id="searchInput" name="searchTerm" placeholder="Search" class="form-control" />
                    </div>

                    <!-- Search Button -->
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </div>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Staff_Id)</th>
                <th>@Html.DisplayNameFor(model => model.First_Name)</th>
                <th>@Html.DisplayNameFor(model => model.Last_Name)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th>@Html.DisplayNameFor(model => model.Phone)</th>
                <th>@Html.DisplayNameFor(model => model.Active)</th>
                <th>@Html.DisplayNameFor(model => model.Store_Id)</th>
                <th>@Html.DisplayNameFor(model => model.Manager_Id)</th>
                <th>@Html.DisplayNameFor(model => model.Password)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                //if (item != null)
                //{
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Staff_Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.First_Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Last_Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                    <td>@Html.DisplayFor(modelItem => item.Active)</td>
                    <td>@Html.DisplayFor(modelItem => item.Store_Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Manager_Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Password)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Staff_Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Staff_Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Staff_Id })
                    </td>
                </tr>
                }
            @*}*@
        </tbody>
    </table>
}
@*else
{
    <p>No staff records found.</p>
}*@

@if (ViewBag.SalesByStaff != null)
{
    <table width="200">
        <tr>
            <th>Order Id</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        @foreach (var item in ViewBag.SalesByStaff)
        {
            <tr>
                <td>@item.OrderId</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
            </tr>

        }
        </table>
        }


        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-info">
                @ViewBag.Message
            </div>
        }
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var filterDropdown = document.getElementById('filterOption');
                var searchInput = document.getElementById('searchInput');

                filterDropdown.addEventListener('change', function () {
                    var selectedValue = this.value;

                    if (selectedValue === "1" || selectedValue === "2") {
                        searchInput.placeholder = "Enter Staff Id";
                        searchInput.name = "id";
                    } else if (selectedValue === "3") {
                        searchInput.placeholder = "Enter Store Name";
                        searchInput.name = "storeName";
                    }
                    else {
                        searchInput.placeholder = "Search"
                        searchInput.name = "searchTerm";
                    }
                });

                filterDropdown.dispatchEvent(new Event('change'));
            });
        </script>

        <style>
            .container {
                max-width: 1200px;
            }

            .form-select, .form-control {
                height: calc(2.25rem + 2px);
            }

            .btn-primary {
                height: calc(2.25rem + 2px);
                padding: 0.375rem 0.75rem;
            }

            .d-flex {
                display: flex;
            }

            .align-items-center {
                align-items: center;
            }

            .justify-content-end {
                justify-content: end;
            }

            .flex-grow-1 {
                flex-grow: 1;
            }
        </style>
